<div class="table-responsive">
  <div class="container">
    <div class="solid">
      <!-- ข้อมูลลูกค้า -->
      <div class="col-md-12" style="color:white;background:gray;">
        <div class="row">
          <label>&nbsp;ข้อมูลลูกค้า</label>
        </div>
      </div>

      <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">ชื่อ : {{ User?.Nameth ? User?.Nameth : '-' }}</div>
            <div class="col-md-4">นามสกุล : {{ User?.Surnameth ? User?.Surnameth : '-' }}</div>
            <div class="col-md-4">("ลูกค้า" หรือ "ผู้ขอใช้บริการ")</div>
          </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">Name : {{ User?.Nameeng ? User?.Nameeng : '-' }}</div>
          <div class="col-md-4">Surname : {{ User?.Surnameeng ? User?.Surnameeng : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">รหัสบัตรประชาชน : {{  User?.id13 ? User?.id13 : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">สัญชาติ :
            <label>
              {{ User?.nationality_txt =='0' ? User?.getNationality() : User?.nationality_temp }}
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">สถานภาพการสมรสตามกฏหมาย : {{ User?.getStatus() ? User?.getStatus() : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 form-inline">ข้อมูลคู่สมรส</div>
          <div class="col-md-4 form-inline">ชื่อ : {{ User?.Namemarryth ? User?.Namemarryth : '-' }}</div>
          <div class="col-md-4 form-inline">นามสกุล : {{ User?.Surnamemarryth ? User?.Surnamemarryth : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 form-inline"></div>
          <div class="col-md-4 form-inline">Name : {{ User?.Namemarryeng ? User?.Namemarryeng : '-' }}</div>
          <div class="col-md-4 form-inline">Surname : {{ User?.Surnamemarryeng ? User?.Surnamemarryeng : '-' }}</div>
        </div>
      </div>

      <!-- ข้อมูลทางการเงิน -->
      <div class="col-md-12" style="color:white;background:gray;">
        <div class="row">
          <label>&nbsp;ข้อมูลทางการเงิน</label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5">รายได้ต่อปี : {{ User?.getMoney() ? User?.getMoney() : '-' }}</div>
          <div class="col-md-5">มูลค่าทรัพย์สินส่วนตัว : {{ User?.getCustomer() ? User?.getCustomer() : '-' }}</div>
        </div>
      </div>

      <!-- ข้อมูลการศึกษา /การทำงาน -->
      <div class="col-md-12" style="color:white;background:gray;">
        <div class="row">
          <label>&nbsp;ข้อมูลการศึกษา/การทำงาน</label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">การศึกษาสูงสุด : {{ User?.getStudy() ? User?.getStudy() : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">อาชีพ : {{ User?.getJob() ? User?.getJob() : User?.Jobtxt }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">สถานที่ทำงาน : {{ User?.JobName ? User?.JobName : '-' }}</div>
          <div class="col-md-6">ตำแหน่ง : {{ User?.JobRule ? User?.JobRule : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 form-inline">ประเภทธุรกิจของสถานที่ทำงาน : {{ User?.getJobType() ? User.getJobType() : '-' }}</div>
        </div>
      </div>


      <!-- การเปิดเผยข้อมูล -->
      <div class="col-md-12" style="color:white;background:gray;">
        <div class="row">
          <label>&nbsp;การเปิดเผยข้อมูลเพิ่มเติมตามที่กฏหมายกำหนด </label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5 form-inline">1) แหล่งที่มาของรายได้หลักมาจาก :
            {{ User?.getDislosureOne() ?  User?.getDislosureOne() : User?.disclosureOneTxt }}
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5 form-inline">2) ประเทศที่มาของรายได้หลักมาจาก :
            {{ User?.disclosureTwo == '0' ? 'ประเทศไทย' : User?.disclosureTwoTxt }}
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 form-inline">3) ท่านอยู่ระหว่างการถูกยับยั้งการทำธุรกรรม ยึดหรืออายัดทรัพย์สิน หรือเป็นผู้ที่ศาลมีคำสั่งให้ทรัพย์สิน ตกเป็นของแผ่นดินตามกฏหมายว่าด้วยการป้องกันและปราบปรามการฟอกเงินหรือไม่
          : {{ User?.disclosureThree == '0' ? 'ไม่ใช่' : User?.disclosureThreeTxt }}
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 form-inline">4) ท่านเป็นหรือเคยเป็นบุคคลที่กระทำความผิดเกี่ยวกับความผิดฐานฟอกเงิน ความผิดมูลฐาน ตามกฏหมายฟอกเงิน หรือความผิดเกี่ยวกับการก่อการร้ายและสนับสนุสการเงินแก่การก่อการร้ายหรือไม่
          : {{ User?.disclosureFour == '0' ? 'ไม่เคย' : User?.disclosureFourTxt }}
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 form-inline">5) ท่านเป็นบุคคลที่มีสถานภาพทางการเมืองไทยหรือต่างประเทศ ใช่หรือไม่
            : {{ User?.disclosureFive == '0' ?  'ไม่ใช่' : User?.disclosureFiveTxt }}
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 form-inline">6) บุคคลที่ได้รับประโยชน์จากการทำธุรกรรมที่แท้จริง
            : {{ User?.disclosureSix == '0' ?  'ลูกค้า' : User?.disclosureSixTxt }}
          </div>
        </div>
      </div>

    </div><!-- End Soid -->
  </div><!-- End Container -->
</div><!-- End Responsive -->
<br/>
<!-- Button -->
<div class="row">
  <div class="col-md-12">
    <a routerLink="/add"><button class="btn btn-default" > back</button></a>
  </div>
</div>
<style media="screen">
  div.solid {
    border-style: solid;
    border-color: #000000 #000000;
  }
</style>