<div class="table-responsive">
  <div class="container">
    <div class="solid">
      <!-- ข้อมูลลูกค้า -->
      <div class="col-md-12" style="color:white;background:gray;">
        <div class="row">
          <label>&nbsp;ข้อมูลลูกค้า</label>
        </div>
      </div>

      <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">ชื่อ : {{ S_User?.Nameth ? S_User?.Nameth : '-' }}</div>
            <div class="col-md-4">นามสกุล : {{ S_User.Surnameth ? S_User.Surnameth : '-' }}</div>
            <div class="col-md-4">("ลูกค้า" หรือ "ผู้ขอใช้บริการ")</div>
          </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">Name : {{ S_User?.Nameeng ? S_User?.Nameeng : '-' }}</div>
          <div class="col-md-4">Surname : {{ S_User?.Surnameeng ? S_User?.Surnameeng : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">รหัสบัตรประชาชน : {{  S_User?.id13 ? S_User?.id13 : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">สัญชาติ :
            <label>
              {{ S_User?.nationality_txt =='0' ? S_User.getNationality() : S_User?.nationality_temp }}
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">สถานภาพการสมรสตามกฏหมาย : {{ S_User.getStatus() ? S_User.getStatus() : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 form-inline">ข้อมูลคู่สมรส</div>
          <div class="col-md-4 form-inline">ชื่อ : {{ S_User?.Namemarryth ? S_User?.Namemarryth : '-' }}</div>
          <div class="col-md-4 form-inline">นามสกุล : {{ S_User?.Surnamemarryth ? S_User?.Surnamemarryth : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 form-inline"></div>
          <div class="col-md-4 form-inline">Name : {{ S_User?.Namemarryeng ? S_User?.Namemarryeng : '-' }}</div>
          <div class="col-md-4 form-inline">Surname : {{ S_User?.Surnamemarryeng ? S_User?.Surnamemarryeng : '-' }}</div>
        </div>
      </div>

      <!-- ข้อมูลทางการเงิน -->
      <div class="col-md-12" style="color:white;background:gray;">
        <div class="row">
          <label>&nbsp;ข้อมูลทางการเงิน</label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5">รายได้ต่อปี : {{ S_User?.getMoney() ? S_User?.getMoney() : '-' }}</div>
          <div class="col-md-5">มูลค่าทรัพย์สินส่วนตัว : {{ S_User?.getCustomer() ? S_User?.getCustomer() : '-' }}</div>
        </div>
      </div>

      <!-- ข้อมูลการศึกษา /การทำงาน -->
      <div class="col-md-12" style="color:white;background:gray;">
        <div class="row">
          <label>&nbsp;ข้อมูลการศึกษา/การทำงาน</label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">การศึกษาสูงสุด : {{ S_User?.getStudy() ? S_User?.getStudy() : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">อาชีพ : {{ S_User?.getJob() ? S_User?.getJob() : S_User?.Jobtxt }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">สถานที่ทำงาน : {{ S_User?.JobName ? S_User?.JobName : '-' }}</div>
          <div class="col-md-6">ตำแหน่ง : {{ S_User?.JobRule ? S_User?.JobRule : '-' }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 form-inline">ประเภทธุรกิจของสถานที่ทำงาน : {{ S_User?.getJobType() ? S_User.getJobType() : '-' }}</div>
        </div>
      </div>


      <!-- การเปิดเผยข้อมูล -->
      <div class="col-md-12" style="color:white;background:gray;">
        <div class="row">
          <label>&nbsp;การเปิดเผยข้อมูลเพิ่มเติมตามที่กฏหมายกำหนด </label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5 form-inline">1) แหล่งที่มาของรายได้หลักมาจาก :
            {{ S_User?.getDislosureOne() ?  S_User?.getDislosureOne() : S_User?.disclosureOneTxt }}
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5 form-inline">2) ประเทศที่มาของรายได้หลักมาจาก :
            {{ S_User?.disclosureTwo == '0' ? 'ประเทศไทย' : S_User?.disclosureTwoTxt }}
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 form-inline">3) ท่านอยู่ระหว่างการถูกยับยั้งการทำธุรกรรม ยึดหรืออายัดทรัพย์สิน หรือเป็นผู้ที่ศาลมีคำสั่งให้ทรัพย์สิน ตกเป็นของแผ่นดินตามกฏหมายว่าด้วยการป้องกันและปราบปรามการฟอกเงินหรือไม่
          : {{ S_User?.disclosureThree == '0' ? 'ไม่ใช่' : S_User?.disclosureThreeTxt }}
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 form-inline">4) ท่านเป็นหรือเคยเป็นบุคคลที่กระทำความผิดเกี่ยวกับความผิดฐานฟอกเงิน ความผิดมูลฐาน ตามกฏหมายฟอกเงิน หรือความผิดเกี่ยวกับการก่อการร้ายและสนับสนุสการเงินแก่การก่อการร้ายหรือไม่
          : {{ S_User?.disclosureFour == '0' ? 'ไม่เคย' : S_User?.disclosureFourTxt }}
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 form-inline">5) ท่านเป็นบุคคลที่มีสถานภาพทางการเมืองไทยหรือต่างประเทศ ใช่หรือไม่
            : {{ S_User?.disclosureFive == '0' ?  'ไม่ใช่' : S_User?.disclosureFiveTxt }}
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 form-inline">6) บุคคลที่ได้รับประโยชน์จากการทำธุรกรรมที่แท้จริง
            : {{ S_User?.disclosureSix == '0' ?  'ลูกค้า' : S_User?.disclosureSixTxt }}
          </div>
        </div>
      </div>

    </div><!-- End Soid -->
  </div><!-- End Container -->
</div><!-- End Responsive -->
<br/>
<!-- Button -->
<div class="row">
  <div class="col-md-12">
    <a routerLink="/add"><button class="btn btn-default" > back</button></a>
  </div>
</div>
<style media="screen">
  div.solid {
    border-style: solid;
    border-color: #000000 #000000;
  }
</style>